@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Be Vietnam Pro";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 65px 165px 65px 165px;
}
header div {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin: 0px 14px 0px 14px;
}

header nav ul li:nth-child(6) {
  margin-left: 224px;
}

a {
  text-decoration: none;
  color: #242e52;
  font-weight: 500;
  font-size: 13px;
  line-height: 176.1%;
}

button.get-started {
  background-color: #f3603b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13px;
  padding: 12px 30px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

header i {
  display: none;
}

main section:nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 39px 146px 0px 165px;
}
main section:nth-child(1) div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 71px 50px 80px 0px;
}

main section:nth-child(1) div:nth-child(1) p:nth-child(1) {
  font-size: 58px;
  color: #232c50;
  font-weight: 700;
  margin-bottom: 28px;
}

main section:nth-child(1) div:nth-child(1) p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  text-align: justify;
  margin: 0px 150px 28px 0px;
}

main section:nth-child(1) div:nth-child(1) button {
  align-self: flex-start;
}

main section:nth-child(1) div:nth-child(2) {
  margin-top: 39px;
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  padding: 99px 169px 0px 165px;
}
/* main section:nth-child(2) article:nth-child(1){
  background-color: cadetblue;
  
} */
main section:nth-child(2) article:nth-child(1) h2 {
  color: #232851;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}

main section:nth-child(2) article:nth-child(1) p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 36px 96px 0px 0px;
  line-height: 24.18px;
}

main section:nth-child(2) article:nth-child(2) {
  padding-left: 125px;
}

main section:nth-child(2) article:nth-child(2) div {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

main section:nth-child(2) article:nth-child(2) div span {
  background-color: #f3603b;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  line-height: 23.38px;
}

main section:nth-child(2) article:nth-child(2) div h5 {
  margin-left: 23px;
  color: #323851;
  font-size: 16px;
  font-weight: 700;
}

main section:nth-child(2) article:nth-child(2) div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4.5px;
}

main section:nth-child(2) article:nth-child(2) div p {
  margin-left: calc(70px + 23px);
  font-size: 16.3px;
  font-weight: 500;
  color: #b3b2b7;
  line-height: 25px;
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin: 124px 71px 180px 71px;
}

main section:nth-child(3) h2 {
  color: #242e53;
  font-size: 39.21px;
  font-weight: 700;
  align-self: center;
  line-height: 61.41px;
}

main section:nth-child(3) div {
  display: flex;
  justify-content: space-between;
}

main section:nth-child(3) div article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  background-color: #FAFAFA;
  margin-top: calc(45px + 74px);
}

main section:nth-child(3) div article img{
  position: absolute;
  bottom: calc(100% - (70px / 2));
  left: calc(50% - (70px / 2));
}

main section:nth-child(3) div article span{
 color: #3F4868;
 font-size: 16.07px;
 font-weight: 700;
 line-height: 25.17px;
 margin-top: 56px;
}

main section:nth-child(3) div article p{
 color: #B9B9C1;
 font-size: 16px;
 font-weight: 600;
 line-height: 25.06px;
 padding: 21px 28px 39px 27px;
 text-align: center;
}

main section:nth-child(3) button{
  margin-top: 45px;
  align-self: center;
}

main>div{
  background-color: #F3613C;
  margin-top: 180px;
  padding: 64px 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main>div h3{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.84px;
  margin-right: 530px;
}
main>div div .get-started-white{
  width: 126.48px;
  background-color: white;
  color: #F3603B;
}

footer{
  background-color: #1E1E26;
  padding: 52.93px 164.79px 52.93px 170.88px;
}

footer>div{
  background-color: gray;
  display: flex;
  justify-content: space-between;

}

footer div div.logo-social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: calc(67.26px - 52.93px);
  padding-bottom: calc(69.32px - 52.93px);
}

footer div div.logo-social div{
  display: flex;
  justify-content: space-between;
}

footer div div.logo-social div i{
  color: #FFFFFF;
}

footer div div.nav-lists{
  display: flex;
}

footer>div div nav:nth-child(1){
  margin-right: 213px;
}

footer>div div nav ul{
  list-style-type: none;
  padding: 0px ;
  
}

footer>div div nav ul li{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.38px;
  margin-bottom: 12px;
}






@media (min-width: 375px) and (max-width: 720px) {

  /* header i{
    
  } */
}

#mobileMenu {
  display: none;
}
