@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Be Vietnam Pro";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 65px 165px 65px 165px;
}
header div {
  display: flex;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li {
  margin: 0px 14px 0px 14px;
}

header nav ul li:nth-child(6) {
  margin-left: 224px;
}

a {
  text-decoration: none;
  color: #242e52;
  font-weight: 500;
  font-size: 13px;
  line-height: 176.1%;
}

button.get-started {
  background-color: #f3603b;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 13px;
  padding: 12px 30px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

header i {
  display: none;
}

main section:nth-child(1) {
  display: flex;
  justify-content: center;
  padding: 39px 146px 0px 165px;
}
main section:nth-child(1) div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 71px 50px 80px 0px;
}

main section:nth-child(1) div:nth-child(1) p:nth-child(1) {
  font-size: 58px;
  color: #232c50;
  font-weight: 700;
  margin-bottom: 28px;
}

main section:nth-child(1) div:nth-child(1) p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  line-height: 26.01px;
  color: #000000;
  text-align: justify;
  margin: 0px 150px 28px 0px;
}

main section:nth-child(1) div:nth-child(1) button {
  align-self: flex-start;
}

main section:nth-child(1) div:nth-child(2) {
  margin-top: 39px;
}

main section:nth-child(2) {
  display: flex;
  justify-content: center;
  padding: 99px 169px 0px 165px;
}

main section:nth-child(2) article:nth-child(1) h2 {
  color: #232851;
  font-size: 36px;
  font-weight: 700;
  line-height: 41px;
}

main section:nth-child(2) article:nth-child(1) p {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  padding: 36px 96px 0px 0px;
  line-height: 24.18px;
}

main section:nth-child(2) article:nth-child(2) {
  padding-left: 125px;
}

main section:nth-child(2) article:nth-child(2) div {
  display: flex;
  flex-direction: column;
  margin-bottom: 27px;
}

main section:nth-child(2) article:nth-child(2) div span {
  background-color: #f3603b;
  padding: 10px 25px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  line-height: 23.38px;
}

main section:nth-child(2) article:nth-child(2) div h5 {
  margin-left: 23px;
  color: #323851;
  font-size: 16px;
  font-weight: 700;
}

main section:nth-child(2) article:nth-child(2) div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4.5px;
}

main section:nth-child(2) article:nth-child(2) div p {
  margin-left: calc(70px + 23px);
  font-size: 16.3px;
  font-weight: 500;
  color: #b3b2b7;
  line-height: 25px;
}

main section:nth-child(3) {
  display: flex;
  flex-direction: column;
  margin: 124px 71px 180px 71px;
}

main section:nth-child(3) h3 {
  color: #242e53;
  font-size: 39.21px;
  font-weight: 700;
  align-self: center;
  line-height: 61.41px;
}

main section:nth-child(3) div {
  display: flex;
  justify-content: space-between;
}

main section:nth-child(3) div article{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 415px;
  background-color: #FAFAFA;
  margin-top: calc(45px + 74px);
}

main section:nth-child(3) div article img{
  position: absolute;
  bottom: calc(100% - (70px / 2));
  left: calc(50% - (70px / 2));
}

main section:nth-child(3) div article span{
 color: #3F4868;
 font-size: 16.07px;
 font-weight: 700;
 line-height: 25.17px;
 margin-top: 56px;
}

main section:nth-child(3) div article p{
 color: #B9B9C1;
 font-size: 16px;
 font-weight: 600;
 line-height: 25.06px;
 padding: 21px 28px 39px 27px;
 text-align: center;
}

main section:nth-child(3) img{
  display: none;
}

main section:nth-child(3) button{
  margin-top: 45px;
  align-self: center;
}

main>div{
  background-color: #F3613C;
  margin-top: 180px;
  padding: 64px 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main>div h3{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 47.84px;
  margin-right: 530px;
}
main>div div .get-started-white{
  width: 126.48px;
  background-color: white;
  color: #F3603B;
}

footer{
  background-color: #1E1E26;
  padding: 52.93px 164.79px 52.93px 170.88px;
}

footer>div{
  display: flex;
  justify-content: space-between;

}

footer div div.logo-social{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: calc(67.26px - 52.93px);
  padding-bottom: calc(69.32px - 52.93px);
}

footer div div.logo-social div{
  display: flex;
  justify-content: space-between;
}

footer div div.logo-social div i{
  color: #FFFFFF;
}

footer div div.nav-lists{
  display: flex;
}

footer>div div nav:nth-child(1){
  margin-right: 213px;
}

footer>div div nav ul{
  list-style-type: none;
  padding: 0px ;
  
}

footer>div div nav ul li{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 23.38px;
  margin-bottom: 12px;
}

footer>div div:nth-child(3){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type="text"]{
  width: 201px;
  border-radius: 50px;
  padding: 12.5px 10px;
  font-size: 13.18px;
  font-weight: 600;
  line-height: 19.26px;
  color: #A0A0A0;
  border: none;
  font-family: "Be Vietnam Pro";
}

form{
  display: flex;
  justify-content: space-between;
}

button[type="submit"]{
  background-color: #F3603B;
  padding: 11.5px 22.5px;
  border-radius: 50px;
  font-family: "Be Vietnam Pro";
  border: none;
  color:#FFFFFF;
  margin-left: 9px;
}

footer>div div:nth-child(3) span{
  align-self: flex-end;
  color: #8C8C94;
  font-size: 12.5px;
  font-weight: 500;
  line-height: 18.26px;
}

@media (max-width: 375px) {
  header{
    display: flex;
    padding: 40px 30px 0px 30px;
  }

  header div {
    display: flex;
    padding: 0px;
  }

  header nav ul{
    display: none;
  }

  header i{
    color: #323851;
  }
 
  main section:nth-child(1) {
    display: flex;
    padding: 40px 30px 40px 30px;
    flex-wrap: wrap-reverse;
  }
  
  main section:nth-child(1) div:nth-child(2) img{
    width: 100%;
  }

  main section:nth-child(1) div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
  }

  main section:nth-child(1) div:nth-child(1) p:nth-child(1) {
    font-size: 36px;
    color: #232c50;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }

  main section:nth-child(1) div:nth-child(1) p:nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    color: #B3B2B7;
    text-align: justify;
    margin: 0px 0px 35px 0px;
  }

  main section:nth-child(1) div:nth-child(1) button {
    align-self: center;
  }

  main section:nth-child(2) {
    display: flex;
    flex-direction: column;
    padding: 40px 0px 40px 0px;
    flex-wrap: wrap;
  }

  main section:nth-child(2) article:nth-child(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main section:nth-child(2) article:nth-child(1) h2 {
    font-size: 30px;
    text-align: center;
    margin: 0px 20px;
  }

  main section:nth-child(2) article:nth-child(1) p {
    color: #000000;
    font-size: 14px;
    padding: 10px 0px;
    color: #B3B2B7;
    text-align: center;
    margin: 0px 20px;

  }

  main section:nth-child(2) article:nth-child(2) {
    padding: 30px 0px 0px 15px;
  }
  
  main section:nth-child(2) article:nth-child(2) div {
    margin-bottom: 40px;
    background-color: white;
  }

  main section:nth-child(2) article:nth-child(2) div div {
    
    background-color: #f86b4828;
    border-radius: 20px 0px 0px 20px;
  }

  main section:nth-child(2) article:nth-child(2) div span {
    padding: 8px 25px;
    border-radius: 20px;
  }

  main section:nth-child(2) article:nth-child(2) div h5 {
    font-size: 14px;
  }
  
  main section:nth-child(2) article:nth-child(2) div p {
    margin: 10px 0px 0px 2px;
    font-size: 14px;
    font-weight: 500;
    color: #b3b2b7;
    line-height: 30px;
  }

  main section:nth-child(3) {
    display: flex;
    flex-direction: column;
    margin: 24px 0px 0px 0px;
  }
  main section:nth-child(3) h3 {
    font-size: 35px;
  }
  main section:nth-child(3) div {
    display: flex;
    justify-content: space-between;
  }

  main section:nth-child(3) div article{
    margin: 90px 20px 0px 20px;
  }
  main section:nth-child(3) div article:nth-child(1){
    display: none;
  }
  main section:nth-child(3) div article:nth-child(3){
    display: none;
  }

  main section:nth-child(3) div article p{
    font-size: 14px;
    font-weight: 600;
    line-height: 26px;
    padding: 21px 18px 39px 18px;
   }

   main section:nth-child(3) img{
     width: 30%;
     align-self: center;
   }

   main section:nth-child(3) button{
    margin-top: 0px;
    align-self: center;
  }

  main>div{
    margin-top: 80px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
  }

  main>div h3{
    font-size: 38px;
    margin: 75px 12px 25px 12px;
    text-align: center;
  }

  main>div div .get-started-white{
    margin-bottom: 75px;
  }

  footer{
    padding: 40px 20px 30px 20px;
  }
  footer>div{
    display: flex;
    flex-direction: column-reverse;
    background-color: blue;
  }

  footer div div.logo-social{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color:black;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  footer div div.logo-social div{
    margin-bottom: 50px;
  }

  footer div div.logo-social div {
  }


}

